<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="author" content="Flux User" >
    <meta name="description" content="My Website" >
    <meta name="keywords" content="Flux, Mac" >
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="screen" type="text/css" >
    <title>My Webpage</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo w p10" >
                    <div class="logopic lf">
                        <img src="http://placehold.it/32x32"/>
                    </div>
                    <div class="logoInfo">
                        <div class="name bold pl10">CoreBB</div>
                        <div class="description pl10">Put your forum description here</div>
                    </div>
                </div>
                <div class="links w p10" >FORUM &middot; LOGIN &middot; <a class="headerLink" href="/register">SIGNUP</a></div>
            </div>
    
            {% block content %}
            
            {% endblock %}
    
            <div class="info">
                Copyright &copy; 2014, Core Labs <br /> 
                All Rights Reserved 
            </div>
        </div>
    </body>
</html>