{% extends "base.html" %}
{% block content %}
            <div class="bgblue w mt10 p10">
                <div class="forumTitle">CoreBB Forums</div>
                <div class="forumDesc">A little description of the forum</div>
            </div>
            <table class="forums">
                <tr>
                    <td class="w60p forum">Thread</td>
                    <td class="w20p lp">Replies</td>
                    <td class="w20p lp">Last Post</td>
                </tr>
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>
                <tr>
                    <td>
                        <div class="threadTitle blue bold">Lorem Ipsum</div>
                    </td>
                    <td>
                        <div class="replies">9001</div>
                    </td>
                    <td>
                        <div class="datePosted">Jan 01, 1970 12:00am</div>
                        <div class="whoPosted">Pillows</div>
                    </td>
                </tr>
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>
                <tr>
                    <td>
                        <div class="threadTitle blue">Lorem Ipsum</div>
                    </td>
                    <td>
                        <div class="replies">9001</div>
                    </td>
                    <td>
                        <div class="datePosted">Jan 01, 1970 12:00am</div>
                        <div class="whoPosted">Pillows</div>
                    </td>
                </tr>
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>

                <tr>
                    <td>
                        <div class="threadTitle blue">Lorem Ipsum</div>
                    </td>
                    <td>
                        <div class="replies">9001</div>
                    </td>
                    <td>
                        <div class="datePosted">Jan 01, 1970 12:00am</div>
                        <div class="whoPosted">Pillows</div>
                    </td>
                </tr>
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>
            </table>
{% endblock %}