{% extends "base.html" %}
{% block content %}
		<div class="forumTitle bgblue w mt10 p10">
			CoreBB Forums	
		</div>	
            <table class="forums">
        		<tr>		
        			<td class="w60p forum">Forum</td>
        			<td class="w40p lp">Last Post</td>
        	    </tr>
        		<tr class="mt10">
        			<td colspan="2" class="forumCategory b600 bggray p5"><a href="/category/1" class="blacklink">Forum Announcements</a></td>
        		</tr>
        	    	<tr>
        			<td>
        				<div class="forumName b600">Lorem Ipsum</div>
        				<div class="forumDescription">Lorem Ipsum</div>
        			</td>
        			<td>
        				<div class="threadTitle blue bold">This is a forum title</div>
        				<div class="lastTime">Jan 01, 1970</div>
        				<div class="byPoster">by Pillows</div>
        			</td>
        	    	</tr>
        		<tr>
        			<td class="lb" colspan="2"></td>
        		</tr>
        		<tr>
        			<td>
        				<div class="forumName b600">Lorem Ipsum</div>
        				<div class="forumDescription">Lorem Ipsum</div>
        			</td>
        			<td>
        				<div class="threadTitle blue bold">This is a forum title</div>
        				<div class="lastTime">Jan 01, 1970</div>
        				<div class="byPoster">by Pillows</div>
        			</td>
        	    	</tr>
        		<tr>
        			<td class="lb" colspan="2"></td>
        		</tr>
        		<tr>
        			<td>
        				<div class="forumName b600">Lorem Ipsum</div>
        				<div class="forumDescription">Lorem Ipsum</div>
        			</td>
        			<td>
        				<div class="threadTitle blue bold">This is a forum title</div>
        				<div class="lastTime">Jan 01, 1970</div>
        				<div class="byPoster">by Pillows</div>
        			</td>
        	    	</tr>
        		<tr>
        			<td class="lb" colspan="2"></td>
        		</tr>
        		<tr>
        			<td class="lb" colspan="2"></td>
        		</tr>
            </table>
{% endblock %}