{% extends "base.html" %}
{% block content %}
            <div class="message mt5">
                <a href="" class="topLink">Signup to start participating</a> or <a href="" class="topLink"> Login here</a>!
            </div>
            <div class="bgblue w mt10 p10">
                <div class="forumTitle">CoreBB Register</div>
            </div>
            <table class="forums">
                <tr>
                    <td class="w40p"><label>Username: </label></td>
                    <td class="w60p"><input class="form-input" type="text" name="username"/></td>
                </tr>
                <tr>
                    <td class="w40p"><label>Email Address: </label></td>
                    <td class="w60p"><input class="form-input" type="text" name="email"/></td>
                </tr>

                <tr>
                    <td class="w40p"><label>Password: </label></td>
                    <td class="w60p"><input class="form-input" type="password" name="password"/></td>
                </tr>
                <tr>
                    <td class="w40p"><label>Confirm Password: </label></td>
                    <td class="w60p"><input class="form-input" type="password" name="cpassword"/></td>
                </tr>
                
                <tr>
                    <td class="w40p"><label>Date of Birth: </label></td>
                    <td class="w60p"><input class="form-input" type="date" id="bday" name="dob" /></td>
                </tr>
                <tr>
                    <td class="w40p"><label>Referrer: </label></td>
                    <td class="w60p"><input class="form-input" type="text" name="referral"/></td>
                </tr>
                <tr>
                    <td class="w40p"></td>
                    <td class="w60p"><label><input type="checkbox" name="rememberme"/> Remember me</label></td>
                </tr>
                
                
                <tr>
                    <div class="bggray">
                        <td class="w40p"></td>
                        <td class="w60p"><input class="button" type="submit" name="submit"/></td>
                    </div>
                </tr>
                <tr>
                    <div class="loginForm">
                    
                    </div>
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>
{% endblock %}
