{% extends "base.html" %}
{% block content %}
            <div class="bgblue w mt10 p10">
                <div class="threadTitle">{{ thread["title"] }}</div>
            </div>
            <table class="forums">
                <tr class="">
                    <div class="op pt10 table">
                        <div class="avatar"><img src="http://placehold.it/150x150"/></div>
                        
                        <div class="userinfo pl10">
                            <div class="username"><a href="#" class="blue">{{ thread["username"] }}</a></div>
                            <div class="usertitle">Administrator</div>
                        </div>
                    </div>
                </tr>
                
                <tr>
                    <div class="post pt10">{{ thread["body"] }}</div>
                </tr>
                
                <tr>
                    <div class="pages bgblue mt10 w p5 pl5">
                        <div class="replies bold">Pages</div>
                        <div class="pageNumber bold">1 out 15</div>
                    </div>
                    <div class="pageList bggray p10">
                        <div class="pageBox">Pages:</div> 
                        <div class="pageNumberBox">1</div> 
                        2 
                        3 
                        4 
                        5 
                        6 
                        7 
                        8 
                        9 
                        10
                    </div>
                </tr>
                
                <!-- Single Post Block -->
                {% for post in posts %}
                <tr>
                    <div class="poster bglightgray p10 mt10">
                        <div class=" op table">
                            <div class="avatar"><img src="http://placehold.it/150x150"/></div>
                            
                            <div class="userinfo pl10">
                                <div class="username "><a href="#" class="blue">{{ post["username"] }}</a></div>
                                <div class="usertitle">Administrator</div>
                            </div>
                        </div>
    
                        <div class="post pt10"> {{ post["body"] }}                        </div>
                    </div>
                </tr>
                
                {% endfor %}
                <!-- Post block ends -->
                
                <tr>
                    
                    <div class="pages bgblue mt10 w p5 pl5">
                        <div class="replies bold">Comments</div>
                        <div class="pageNumber bold">By posting you automatically agree to our Terms and Services</div>
                    </div>
                    
                    <div class="pageList bggray p10">
                        <div class="linkAdd inline"><img src="{{ url_for('static', filename='img/ico/link_add.png')}}"/></div>
                        <div class="boldIco inline"><img src="{{ url_for('static', filename='img/ico/text_bold.png')}}"/></div>
                        <div class="italicsIco inline"><img src="{{ url_for('static', filename='img/ico/text_italic.png')}}"/></div>
                        <div class="underlineIco inline"><img src="{{ url_for('static', filename='img/ico/text_underline.png')}}"/></div>
                        <div class="happy inline"><img src="{{ url_for('static', filename='img/ico/emoticon_happy.png')}}"/></div>
                        <div class="grin inline"><img src="{{ url_for('static', filename='img/ico/emoticon_grin.png')}}"/></div>
                        <div class="evilgrin inline"><img src="{{ url_for('static', filename='img/ico/emoticon_evilgrin.png')}}"/></div>
                        <div class="smile inline"><img src="{{ url_for('static', filename='img/ico/emoticon_smile.png')}}"/></div>
                        <div class="surprised inline"><img src="{{ url_for('static', filename='img/ico/emoticon_surprised.png')}}"/></div>
                        <div class="tongue inline"><img src="{{ url_for('static', filename='img/ico/emoticon_tongue.png')}}"/></div>
                        <div class="unhappy inline"><img src="{{ url_for('static', filename='img/ico/emoticon_unhappy.png')}}"/></div>
                        <div class="waii inline"><img src="{{ url_for('static', filename='img/ico/emoticon_waii.png')}}"/></div>
                        <div class="wink inline"><img src="{{ url_for('static', filename='img/ico/emoticon_wink.png')}}"/></div>
                    </div>
                    
                    <div class="postBox mt5">
                        <form method="POST">
                            <textarea class="resizeBox" name="content"></textarea>
                            <div class="bggray p10">
                                <input class="button" type="submit"/>
                            </div>
                        </form>
                    </div>
                    
                    
                </tr>
                
                <tr>
                    <td class="lb" colspan="3"></td>
                </tr>
            </table>
{% endblock %}